# Tarea 1

In [1]:
#4
print("Hola Mundo")

Hola Mundo

In [13]:
#5

nombre = "Jonathan"

In [16]:
edad = 24

In [14]:
pais = "Costa Rica"

In [17]:
#6
print(nombre , edad , pais)

Jonathan 24 Costa Rica

In [18]:
#7
print("String-Int-String"
    )

String-Int-String

In [22]:
#8

print("En astronomía, la clasificación estelar\nes la clasificación de las estrellas en\nfunción de sus características espectrales.")

En astronomía, la clasificación estelar
es la clasificación de las estrellas en
función de sus características espectrales.

In [28]:
#9

print("Hipergigantes", "Subgigantes" , "Secuencia Principal", sep="---", end="*")

Hipergigantes---Subgigantes---Secuencia Principal*

In [4]:
m_solar = 1.98892e+30

In [5]:
m_jupiter = 1048*m_solar

In [6]:
print(f"la masa de Jupiter es de {m_jupiter} kg.")

la masa de Jupiter es de 2.08438816e+33 kg.

In [10]:
tierra = 1

In [11]:
mercurio = 0.389

In [12]:
venus = 0.723

In [13]:
marte = 1.524

In [14]:
jupiter = 5.203

In [15]:
saturno = 9.537

In [20]:
if mercurio < tierra:
    print("True")
else:
    print("False")
    
if venus < tierra:
    print("True")
else:
    print("False")

    
if marte > tierra:
    print("True")
else:
    print("False")

    
if jupiter > tierra:
    print("True")
else:
    print("False")

if saturno > tierra:
    print("True")
else: 
    print("False")

True
True
True
True
True